body{margin: 60px;background-color: hsl(209, 86%, 86%);}
h1{text-align: center;color: rgb(13, 94, 245);font-size: 4.5em;font-family: serif;}
img{margin: auto;display: block;width: 1000px}
p{text-align:justify;color: black;font-size: 40px;font-family: Georgia, 'Times New Roman', Times, serif;}