body{margin: 60px;background-color: pink;}
h1{text-align: center;color: white;font-size: 5.5em;font-family: serif;}
img{margin: auto;display: block;width: 1000px}
p{text-align:justify;color: black;font-size: 30px;font-family: Georgia, 'Times New Roman', Times, serif;}